<% @watches.each do |watch| %>
  <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-centered space-x-4">
    <div>
      <div class="text-xl font-medium text-black">
        <%= watch.manufacturer %>
      </div>
      <p class="text-grey-500"> <%= watch.reference %> </p>
    </div>
  </div>
<% end %>
