<h1 class="text-xl">Watches</h1>
<% @watches.each do |watch| %>
  <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-centered space-x-4">
    <div>
      <div class="text-xl font-medium text-black">
        <%= watch.manufacturer %>
      </div>
      <%= link_to watch_case_path(watch), data: { turbo_frame: "case_detail" }, class: "text-grey-500" do %>
        <%= watch.reference %>
      <% end %>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "case_detail" %>
