<h1 class="text-xl"><%= @watch.reference %></h1>

<turbo-frame id="watch_case_<%= @watch.id %>">
  <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-centered space-x-4">
    <div>
      <div class="text-xl font-medium text-black">
        <%= @watch.manufacturer %>
      </div>
      <div class="text-xl font-medium text-black">
        <%= @watch.reference %>
      </div>
    </div>
  </div>
</turbo-frame>
